<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <title>Admin Page</title>
</head>
<body>
<form action="#" th:action="@{/admin/save}" th:object="${user}" method="post">
    <div class="container-fluid min-vh-100 bg-light">
        <div class="row mb-3 align-items-end bg-dark">
            <div th:align="left" class="col-md-6">
                <h3 class="text-white">
                    <a>User: </a>
                    <span sec:authentication="principal.email">Firstname</span>
                    <a>With roles: </a>
                    <span th:each="role : ${#authentication.getPrincipal().getRoles()}">
                    <span th:utext="${role.toString()}">Role</span>
                </span>
                </h3>
            </div>
            <div th:align="right" class="col-md-6">
                <h5>
                    <a class="text-muted" href="#" style="text-decoration: none">Logout</a>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 bg-white min-vh-100">
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user">User</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <h3>Admin Panel</h3>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/new">New User</a>
                    </li>
                </ul>
                <table class="table table-borderless border-top-2 bg-white w-80" th:align="left">
                    <thead class="mb-3 bg-light min-vw-100">
                    <tr>
                        <th class="fw-normal fs-4">
                            Add new user
                        </th>
                    </tr>
                    </thead>
                    <tbody th:align="center">
                    <tr>
                        <td>
                            <form class="form-check-input align-items-center min-vw-100">
                                <div class="form-group align-items-center">
                                    <label for="InputName">First Name</label>
                                    <div class="col-sm-5">
                                        <input type="text" th:field="*{username}"
                                               class="form-control form-control-sm w-30" id="InputName">
                                        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red">Name
                                            error
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group align-items-center">
                                    <label for="InputSurname">Last name</label>
                                    <div class="col-sm-5">
                                        <input type="text" th:field="*{surName}"
                                         class="form-control form-control-sm w-30" id="InputSurname">
                                        <div th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}" style="color: red">Surname
                                            error
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group align-items-center">
                                    <label for="InputAge">Age</label>
                                    <div class="col-sm-5">
                                        <input type="text" th:field="*{age}"
                                               class="form-control form-control-sm w-30" id="InputAge">
                                        <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red">Age error</div>
                                    </div>
                                </div>
                                <div class="form-group align-items-center">
                                    <label for="InputEmail">Email</label>
                                    <div class="col-sm-5">
                                        <input type="text" th:field="*{email}"
                                               class="form-control form-control-sm w-30" id="InputEmail">
                                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red">Email error
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group align-items-center">
                                    <label for="InputPassword">Password</label>
                                    <div class="col-sm-5">
                                        <input type="password" th:field="*{password}"
                                               class="form-control form-control-sm w-30"
                                               id="InputPassword">
                                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red">Password
                                            error
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="FormRoleSelect">Role</label>
                                    <div class="col-sm-5">
                                        <select multiple class="form-control form-control-sm w-30" size="2"
                                                th:object="${user}" th:field="*{roles}" id="FormRoleSelect" required>
                                            <option value="ROLE_USER">User</option>
                                            <option value="ROLE_ADMIN">Admin</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="d-grid gap-2 d-md-block align-items-center">
                                <button class="btn btn-info" type="submit">Add new user</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
