<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>Admin Page</title>
</head>
<body>
<div class="container-fluid min-vh-100 bg-light">
    <div class="row mb-3 align-items-end bg-dark">
        <div align="left" class="col-md-6">
            <h3 class="text-white" id="userInfo">
            </h3>
        </div>
        <div align="right" class="col-md-6">
            <h5>
                <a class="text-muted" href="/logout" style="text-decoration: none"
                >Logout</a
                >
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bg-white min-vh-100">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <h3>Admin Panel</h3>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin"
                    >Users table</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="newLocation()">New User</a>
                </li>
            </ul>
            <table class="table border-top-2 bg-white" align="left">
                <thead class="mb-3 bg-light">
                <tr>
                    <th class="fw-normal fs-4">All users</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="6">
                        <table
                                class="table mt-2 table-striped border-top-2 bg-white"
                                align="left"
                        >
                            <thead class="thead-dark">
                            <tr>
                                <th>User ID</th>
                                <th>Name</th>
                                <th>Last name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Actions with user</th>
                            </tr>
                            </thead>
                            <tbody class="tbody" id="tbody">
                            <!--                            JS code HERE-->
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<form class="editForm" action="#" method="post">
    <div class="modal fade" id="editModal"
         data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit
                        user</h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group align-items-center">
                        <label for="InputEditID" class="col-form-label">ID</label>
                        <input type="text"
                               class="form-control form-control-sm w-30"
                               readonly
                               id="InputEditID"
                               name = "id">
                    </div>
                    <div class="form-group align-items-center">
                        <label for="InputEditUsername" class="col-form-label">Username</label>
                        <input type="text"
                               class="form-control form-control-sm w-30"
                               required
                               id="InputEditUsername"
                               name = "username">
                    </div>
                    <div class="form-group align-items-center">
                        <label for="InputEditSurname" class="col-form-label">Last Name</label>
                        <input type="text"
                               class="form-control form-control-sm w-30"
                               required
                               id="InputEditSurname"
                               name = "surName">
                    </div>

                    <div class="form-group align-items-center">
                        <label for="InputEditAge" class="col-form-label">Age</label>
                        <input type="text"
                               class="form-control form-control-sm w-30"
                               required
                               id="InputEditAge"
                               name = "age">
                    </div>
                    <div class="form-group align-items-center">
                        <label for="InputEditEmail" class="col-form-label">Email</label>
                        <input type="text"
                               class="form-control form-control-sm w-30"
                               required
                               id="InputEditEmail"
                               name = "email">
                    </div>
                    <div class="form-group align-items-center">
                        <label for="InputEditPassword" class="col-form-label">Password</label>
                        <input type="text"
                               class="form-control form-control-sm w-30"
                               id="InputEditPassword"
                               name = "password">
                    </div>
                    <div class="form-group">
                        <label for="FormEditRoleSelect" class="col-form-label">Role</label>
                        <select multiple
                                class="form-control form-control-sm w-30"
                                size="2"
                                id="FormEditRoleSelect"
                                name = "roles"
                                required>
                            <option value="ROLE_USER">
                                User
                            </option>
                            <option value="ROLE_ADMIN">
                                Admin
                            </option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">Close
                        </button>
                        <button type="submit"
                                class="btn btn-primary">Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="modal fade" id="deleteModal"
     data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="deleteForm" action="#" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete
                        user</h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group align-items-center">
                        <label for="InputDeleteID" class="col-form-label">ID</label>
                        <input type="text"
                               class="form-control form-control-sm w-30"
                               readonly
                               id="InputDeleteID"
                               name="id">
                    </div>
                    <div class="form-group align-items-center">
                        <label for="InputDeleteUsername" class="col-form-label">Username</label>
                        <input type="text"
                               class="form-control form-control-sm w-30"
                               readonly
                               id="InputDeleteUsername"
                               name="username">
                    </div>
                    <div class="form-group align-items-center">
                        <label for="InputDeleteSurname" class="col-form-label">Last Name</label>
                        <input type="text"
                               class="form-control form-control-sm w-30"
                               readonly
                               id="InputDeleteSurname"
                               name="surName">
                    </div>
                    <div class="form-group align-items-center">
                        <label for="InputDeleteAge" class="col-form-label">Age</label>
                        <input type="text"
                               class="form-control form-control-sm w-30"
                               readonly
                               id="InputDeleteAge"
                               name="age">
                    </div>
                    <div class="form-group align-items-center">
                        <label for="InputDeleteEmail" class="col-form-label">Email</label>
                        <input type="text"
                               class="form-control form-control-sm w-30"
                               readonly
                               id="InputDeleteEmail"
                               name="email">
                    </div>
                    <div class="form-group align-items-center">
                        <label for="InputDeletePassword" class="col-form-label">Password</label>
                        <input type="text"
                               class="form-control form-control-sm w-30"
                               readonly
                               id="InputDeletePassword"
                               name="password">
                    </div>
                    <div class="form-group">
                        <label for="FormDeleteRoleSelect" class="col-form-label">Role</label>
                        <input type="text"
                               class="form-control form-control-sm w-30"
                               readonly
                               id="FormDeleteRoleSelect"
                               name="roles">
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">Close
                        </button>
                        <button type="submit"
                                class="btn btn-danger">Delete
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="JS/main.js"></script>
<script type="text/javascript" src="JS/deleteUser.js"></script>

</body>
</html>

