<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/registration}" th:object="${user}">
    <table border="0" cellpadding="5">
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" th:field="*{username}" />
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
            </td>

        </tr>
        <tr>
            <td>Surname:</td>
            <td>
                <input type="text" th:field="*{surName}" />
                <div th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}">surName error</div>
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input type="text" th:field="*{password}" />
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>
            </td>

        </tr>
        <tr>
            <td>
                <input type="submit" value="Sign up!"/>
            </td>
        </tr>
    </table>


</form>
</body>
</html>

